<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Md Tanzib Hosain
              </h1>
              <p>I am a recent research intern at <a href="https://www.mpi-sp.org/">MPI-SP</a>, where I'm working on finding socially inclusive and personalized behavioral patterns of LLMs</a>.
              </p>
              <p>
                My research centers on AI for mathematical and scientific understanding, spanning (1) Language Models—LLMs as search agents, multimodal pre-training, generative models for mathematics, LLMs for code generation and scientific discovery, and reinforcing language agents for reasoning—and (2) AI4Science, including transformer and graph neural network approaches to learning algorithms, machine learning, human-computer interaction, and optimization for scientific discovery.
              </p>
			<p>
                I collaborate with <a href="https://scholar.google.com/citations?user=JnwcUwkAAAAJ&hl=en">Prof. Mohammad Ali Moni</a> (UQ) on artificial intelligence in medicine and retrieval augmented generation; <a href="https://scholar.google.com/citations?user=61Ou1P8AAAAJ&hl=en">Prof. Usman Naseem</a> (MQ) on machine translation and linguistic fairness or bias; and <a href="https://scholar.google.com/citations?user=KhC8rtcAAAAJ&hl=en">Md Rizwan Parvez, PhD</a> (QCRI) on agents and reasoning.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/aTr7lU69"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/tanzibhosain/">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=3YexY9gAAAAJ">Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/tanzibhosain/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.png">
            </td>
          </tr>
        </table>

                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
    
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.huggingface %}
              <a href="{{post.huggingface}}">HF</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
			  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          <tr>
              <td>
                <h2>Miscellanea</h2>
              </td>
            </tr>
          </tbody></table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            
           
  

            <tr>
              <td align="center" style="padding:16px;width:20%;vertical-align:middle">
						     <div class="colored-box" style="background-color: #aaba9e;">
								 <h2>Talks</h2>
								 </div>
              </td>
              <td style="padding:8px;width:80%;vertical-align:center">
                <a>MPI Spark(l)ing Science, 2026</a><br>				  
              </td>
            </tr>

            <tr>
              <td align="center" style="padding:16px;width:20%;vertical-align:middle">
						     <div class="colored-box" style="background-color: #c6b89e;">
								 <h2>Academic Service</h2>
								 </div>
              </td>
              <td style="padding:8px;width:80%;vertical-align:center">
				<a>Program Committee, AAAI 2027</a>
                <br>
                <a>Reviewer, EACL 2027</a>
                <br> 
                <a>Reviewer, EMNLP 2026</a>
                <br>
                <a>Reviewer, IJCNLP-AACL 2026</a>
              </td>
            </tr>
						
						
           
            <tr>
              <td align="center" style="padding:16px;width:20%;vertical-align:middle">
						     <div class="colored-box" style="background-color: #edd892;">
								 <h2>Award</h2>
								 </div>
              </td>
              <td style="padding:8px;width:80%;vertical-align:center">
                <a>IJCNLP-AACL 2025 D&I Award</a>
              </td>
            </tr>
            
          </tbody></table>
	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
              <td style="padding:0px">
                <br>
                <p style="text-align:right;font-size:small;">
                  This website's source code uses design from <a href="https://jonbarron.info/">Jon Barron</a> and <a href="https://leonidk.com/">Leonid Keselman</a>'s websites.
                </p>
              </td>
            </tr>
          </tbody></table>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

